<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-4">

            <h3>Login</h3><br> 
            <form [formGroup]="formEnviar">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Pregunta 1</span>
                    <input formControlName="pregunta1" type="text" class="form-control" placeholder="Escriba su pregunta 1"aria-describedby="basic-addon1">
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Contraseña</span>
                    <input formControlName="pregunta2" type="text" class="form-control" placeholder="Escriba su pregunta 2" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Contraseña</span>
                  <input formControlName="pregunta3" type="text" class="form-control" placeholder="Escriba su pregunta 3" aria-describedby="basic-addon1">
              </div>
              
              <select formControlName="pregunta4" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="One">One</option>
                <option value="Two">Two</option>
                <option value="Three">Three</option>
              </select><br>


                <button type="button" class="btn btn-primary" (click)="enviar()">Enviar</button>
            </form>
        </div>
    </div>
</div>